//
// Buttons
// --------------------------------------------------
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	padding: 15px 20px;
	@include transition(background-color .15s linear, border-color .15s linear, color .15s linear, opacity .15s linear);
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 0px;
	color: #ffffff;
	display: inline-block;
	line-height: 1;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
	font-family: 'Alfa Slab One';
	&:active,
	&:focus {
		outline: 0;
	}
}

.button-inline {
  appearance: none;
  //border-radius: .2em;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 15px;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  transition: background-color linear;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'mallory', sans-serif;
  font-weight: 400;

  &:hover {
  background-color: black;
  color: white;
  border: 1px solid white;

    }

  &:focus {
    outline: $brand-blue;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $brand-blue;
    }
  }
}

.button-callout{
  appearance: none;
  background-color: $brand-blue;
  color: white;
  border: 1px solid $brand-blue;
  //border-radius: .2em;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1;
  padding: 15px;
  margin: .5em;
  text-align: center;
  text-decoration: none;
  transition: background-color linear;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'mallory', sans-serif;

  &:hover {
  background-color: $brand-grey;
  color: black;
  border: 1px solid $brand-blue;

    }

  &:focus {
    outline: black;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: white;
    }
  }
}

.button-homepage {
  appearance: none;
  //border-radius: .2em;
  border: 1px solid #000;
  color: #fff;
  background-color: $brand-black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 15px;
  margin: .5em;
  text-align: center;
  text-decoration: none;
  transition: background-color linear;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'mallory', sans-serif;
  font-weight: 400;

  &:hover {
  background-color: $brand-grey;
  color: $brand-black;
  border: 1px solid $brand-black;

    }

  &:focus {
    outline: $brand-blue;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $brand-blue;
    }
  }
}