//
// Typography
// --------------------------------------------------

@include selection {
	color: $brand-black;
}

html{
	font-size: 100%; /* Sets baseline of 16px for REM calculations */
	@include media(max-width 1400px) {
		font-size: 90%;
	}
	@include media(max-width 882px) {
		font-size: 80%;
	}
}

body{
	// background-image: linear-gradient(to bottom right, #F5C593, #F5C593, white, white, #F1FBF5, #F1FBF5, #F5C593, #F5C593);
	font-family: $font-family;
	font-weight: 400;
	@include rem(font-size, 16px)
}

h2,
h3{
	-webkit-font-smoothing: antialiased;
	line-height: 1.2;
}

h2 {
	font-size: 3em;
	font-weight: 600;
	@include media(max-width $screen-mobile) {
		font-size: 2em;
	}
}

p,
li{
	line-height: 1.4;
	//@include rem(margin, 0px 0px 10px);
}

a{
	@include transition(color .15s linear);
	text-decoration: none;
	color: black;
	&:hover{
		color: $brand-blue;
	}
}
