//
// Colors
// --------------------------------------------------

$brand-black: #000009;
$brand-blue: #5271AE;
$brand-grey: #ececec;
$brand-darkgrey: #818387;



$brand-green: #0ff4c6;
$brand-medgreen: #0cc39e;
$brand-darkishgreen: #0aaa8a;
$brand-darkgreen: #04493b;
$brand-mint: #99380f;
$brand-lightpurple: #1C00FA;
$brand-purple: #6653ff;
$brand-darkpurple: #282166;
$brand-red: #ef212b;
$brand-brightred: #e1523d;
//$brand-blue: #65a3c8;
$brand-brightblue: #3589fa;
$brand-orange: #fc7d38;
$brand-yellow: #e4b33f;
$brand-salmon: #ff6666;
$brand-salmon2: #f8ae7f;
$brand-seablue: #18a5de;
$brand-calblue: #054a4a;
$brand-neongreen: #00e6b5;
$brand-royalblue: #2945f3;

$brand-teal: #4f6b80;
$brand-clay: #99380f;


//
// Media Queries
// --------------------------------------------------

$screen-column-collapse: 767px;
$screen-mobile: 600px;


//
// Type
// --------------------------------------------------
$font-family: garamond-premier-pro, serif;;

// Line height
/*$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
