html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0; }

img {
  max-width: 100%; }

::-moz-selection {
  background-color: #a0c5ff;
  color: #000009; }

::selection {
  background-color: #a0c5ff;
  color: #000009; }

html {
  font-size: 100%;
  /* Sets baseline of 16px for REM calculations */ }
  @media screen and (max-width: 992px) {
    html {
      font-size: 90%; } }
  @media screen and (max-width: 882px) {
    html {
      font-size: 80%; } }

body {
  color: #2a2a2a;
  font-family: 'mallory', sans-serif;
  font-weight: 400; }

article.type-system-sans {
  text-align: left;
  font-family: "EB Garamond", sans-serif;
  text-align: left; }
  article.type-system-sans::after {
    clear: both;
    content: "";
    display: table; }
  article.type-system-sans h1,
  article.type-system-sans h2,
  article.type-system-sans h3,
  article.type-system-sans p {
    margin: 0; }
  article.type-system-sans hr {
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 1.5em 0; }
  article.type-system-sans p {
    color: #2a2a2a;
    line-height: 1.5em;
    text-align: left !important; }
  article.type-system-sans a {
    -webkit-transition: color 0.15s linear;
    -moz-transition: color 0.15s linear;
    transition: color 0.15s linear;
    color: #418cff;
    text-decoration: none; }
    article.type-system-sans a:hover {
      color: #000009; }
  article.type-system-sans h1 {
    font-family: "Mallory", sans-serif;
    font-size: 2.4em;
    font-weight: 800;
    margin-bottom: 0.6em;
    color: black;
    line-height: 1.1em; }
    @media screen and (min-width: 900px) {
      article.type-system-sans h1 {
        font-size: 2.6em; } }
  article.type-system-sans h2 {
    font-weight: 800;
    font-family: Mallory;
    font-size: 1.35em;
    line-height: 1.25em;
    color: #2a2a2a;
    margin-bottom: .5em;
    margin-top: 2.5em; }
  article.type-system-sans h3 {
    font-family: "Mallory", sans-serif;
    font-size: 1.25em;
    font-weight: 800;
    margin-bottom: 1em;
    display: inline-block;
    color: #000009; }
  article.type-system-sans h4 {
    font-family: "Mallory", sans-serif;
    font-size: 1.6em;
    font-weight: 800;
    margin-bottom: 2em;
    display: inline-block;
    color: #000009; }
  article.type-system-sans h5 {
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: .9em;
    font-weight: 600;
    background-color: black;
    color: white;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: .75em; }
  article.type-system-sans h6 {
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: .9em;
    font-weight: 600;
    background-color: rgba(2, 144, 255, 0.8);
    color: white;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: .75em; }
  article.type-system-sans code {
    background: #f7f7f7;
    border-radius: 4.5px;
    border: 1px solid #e0e0e0;
    font-family: monaco;
    font-size: 0.65em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap; }
  article.type-system-sans p.date {
    font-family: "Mallory", sans-serif;
    font-size: 0.8em;
    text-align: center !important; }
    @media (max-width: 850px) {
      article.type-system-sans p.date {
        font-size: 1em; } }
  article.type-system-sans p, article.type-system-sans ul {
    font-family: "EB Garamond", sans-serif;
    font-weight: 300;
    font-size: 1.35em;
    letter-spacing: 1;
    margin-bottom: 1.5em; }
    article.type-system-sans p span, article.type-system-sans ul span {
      font-family: "Mallory", sans-serif;
      font-size: .9em;
      font-weight: 700;
      line-height: 1.4em;
      margin-bottom: 0.5em; }
    @media screen and (max-width: 850px) {
      article.type-system-sans p, article.type-system-sans ul {
        font-size: 1.5em; } }
  article.type-system-sans hr {
    width: 3em; }
  article.type-system-sans .italic {
    text-transform: italic; }
  article.type-system-sans a.read-more {
    display: inline-block;
    font-family: "Mallory", sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase; }
    article.type-system-sans a.read-more span {
      font-size: 1.7em;
      position: absolute;
      right: -10px;
      top: -2px; }
  article.type-system-sans p.author {
    font-family: "Mallory", sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center !important; }
    @media (max-width: 850px) {
      article.type-system-sans p.author {
        font-size: 1.25em; } }

p.side-caption {
  color: grey !important;
  font-weight: 300;
  font-size: .9em !important;
  text-align: left;
  margin: 0 auto; }
  @media (max-width: 850px) {
    p.side-caption {
      padding: 0 10px 0 5px; } }

a {
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  transition: color 0.15s linear;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  font-family: 'Mallory', Helvetica, Arial, sans-serif;
  font-size: 1.1em; }

thead {
  background-color: #f1f4f5; }

th, td {
  padding: 6px;
  margin: 3px;
  border: 1px solid #CCC; }

tr:nth-child(even) {
  border: 1px solid #ddd; }
