//
// Home
// --------------------------------------------------


.main{
    // display: grid;
    // grid-template-columns: 75% 25%;
}

.byline {
  font-size: 1.1em !important;
  font-style: italic;
}

.home-header {
    // padding: 75px 0px 20px;
    text-align: center;

    h2 {
      font-weight: 300;
      font-size: 2em;
      @include media(max-width $screen-mobile) {
    		 font-size: 1.2em;
         padding: 0 30px 0 30px;
    	}
    }
}


h1.home-header__headline{
    font-family: maiola, serif;
    margin: 0px;
    line-height: 1.1em;
    font-weight: 700;
}

.home-subhead {
  text-align: center;
}

.home-header__date {
  font-family: mallory, sans-serif;
  font-size: .8em;
}

.home-stories__grid{
    @include outer-container(1400px);
    width: 100%;
}

.grid-sizer,
.grid-item{
    @include media(min-width $screen-mobile) {
        width: 400px;
    }
    padding: 10px;
}

// .grid-item{
//    min-height: 1200px;
// }

.sm-video {
    min-height: 235px;
}

.lg-video {
    min-height: 500px;
    @include media(max-width $screen-column-collapse) {
       min-height: 500px;
    }
}




span.author{
    font-weight:100;
    font-size: 28px;
    color: #418cff;
    @include media(max-width $screen-column-collapse) {
       font-size: .9em;
    }
}

.home-margin {
    //padding-top: 5em;
    padding-bottom: 15em;
    margin-bottom: 20em;
    @include media(max-width $screen-column-collapse) {
        padding-top: 2em;
        padding-bottom: 13em;
    }

}


.grid-item__link{
    position: relative;
}

.grid-item__header{
    opacity: 0;
}

.grid-item__link:hover .grid-item__header{
    @include transition(opacity .15s linear);
    display: block;
    opacity: 1;
    @include media(max-width $screen-column-collapse) {
        display: none;
    }
}

h2.grid-item__headline{
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25em;
    margin-right: 1em;
    a{
    @include transition(color .15s linear);
    text-decoration: none;
    color: $brand-blue;
    &:hover{
        color: $brand-darkgrey;
    }
}
}

h3.grid-item__sub-headline{
    font-size: .95em;
    //text-transform: uppercase;
    font-weight: 500;
}

h2.grid-mobile-head{
    color: #ffffff;
    font-weight: 500;
    font-size: 1.3em;
    margin-right: 1em;
    display: none;
    @include media(max-width $screen-column-collapse) {
        display: block;
    }
}

h3.grid-mobile-subhead{
    font-size: 1em;
    font-weight: 500;
    //text-transform: uppercase;
    display: none;
    margin-bottom: 1em;
    @include media(max-width $screen-column-collapse) {
        display: block;
    }
}

.grid-item__link:hover img,
.grid-item__link:hover video{
    @include media(min-width $screen-column-collapse) {
        @include transition(opacity .15s linear);
        opacity: .4;
    }
}

.grid-item__header{
    display: none;
    left: 10px;
    position: absolute;
    z-index: 3;
}

.grid-item__cover{
    background-color: rgba(0,0,0,.2);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.photo-desktop {
    display: none;
    @include media(min-width $screen-column-collapse) {
        display: block;
    }
}

.photo-mobile {
    display: none;
    @include media(max-width $screen-column-collapse) {
        display: block;
    }
}

/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
