section#section-eight {
  @include outer-container(1300px);
}

section#section-eight .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: black;
  @include media(max-width $screen-mobile) {
		 grid-template-columns: 1fr;
     margin: 0 30px 0 30px;
     grid-gap: 0;
	}
  h2 {
    margin-bottom: 0;
    line-height: 1.1em;
    font-size: 1.8em;
    @include media(max-width $screen-mobile) {
      font-size: 2em;
  	}
  }
}

section#section-eight .grid {

  .item1 {
    padding-right: 20px;
    @include media(max-width $screen-mobile) {
  		margin-right: 0;
      padding: 0;
  	}
}

  .item2 {
    padding-right: 20px;
    @include media(max-width $screen-mobile) {
      padding: 0;
      margin-top: 3em;
  	}
}

.item3 {
  @include media(max-width $screen-mobile) {
    padding: 0;
    margin-top: 3em;
  }
}

}
