section#section-six {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 100vh;
  @include media(max-width $screen-mobile) {
    height: auto;
    padding: 0 30px 0 30px;
    margin-bottom: 5em;
	}
}

section#section-six .container {
  @include outer-container(1000px);
  margin: 0;
  border: solid white 2px;
  color: white;
  padding: 50px;
}

section#section-six .container h1 {
  font-size: 3em;
  font-weight: 600;
  font-family: maiola, serif;
  margin: 20px;
  @include media(max-width $screen-mobile) {
		 font-size: 2em;
     margin: 10px;
	}
}
