section#section-four {
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 10em 0 10em 0;
  @include media(max-width $screen-mobile) {
    height: auto;
    width: 100%;
    padding: 0 30px 0 30px;
    margin: 3em 0 3em 0;
	}
}

section#section-four .container {
  @include outer-container(1000px);
  margin: 0;
  border: solid white 2px;
  color: white;
  padding: 50px;
  @include media(max-width $screen-mobile) {
		 padding: 35px;
	}
}

section#section-four .container h1 {
  font-size: 3em;
  font-weight: 600;
  font-family: maiola, serif;
  margin: 20px;
  @include media(max-width $screen-mobile) {
		 font-size: 1.8em;
     margin: 10px;
	}
}
